.container {
  max-width: 1216px;
  margin: 0 auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  width: 100%;
}
.container--border {
  border-top: 1px solid #2A54FF;
  padding-top: 1rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
@media (max-width: 768px) {
  .row--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(8.3333333333% - 1.8333333333rem);
          flex: 0 0 calc(8.3333333333% - 1.8333333333rem);
  max-width: calc(8.3333333333% - 1.8333333333rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.6666666667% - 1.6666666667rem);
          flex: 0 0 calc(16.6666666667% - 1.6666666667rem);
  max-width: calc(16.6666666667% - 1.6666666667rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 1.5rem);
          flex: 0 0 calc(25% - 1.5rem);
  max-width: calc(25% - 1.5rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333333333% - 1.3333333333rem);
          flex: 0 0 calc(33.3333333333% - 1.3333333333rem);
  max-width: calc(33.3333333333% - 1.3333333333rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(41.6666666667% - 1.1666666667rem);
          flex: 0 0 calc(41.6666666667% - 1.1666666667rem);
  max-width: calc(41.6666666667% - 1.1666666667rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 1rem);
          flex: 0 0 calc(50% - 1rem);
  max-width: calc(50% - 1rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(58.3333333333% - 0.8333333333rem);
          flex: 0 0 calc(58.3333333333% - 0.8333333333rem);
  max-width: calc(58.3333333333% - 0.8333333333rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(66.6666666667% - 0.6666666667rem);
          flex: 0 0 calc(66.6666666667% - 0.6666666667rem);
  max-width: calc(66.6666666667% - 0.6666666667rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(75% - 0.5rem);
          flex: 0 0 calc(75% - 0.5rem);
  max-width: calc(75% - 0.5rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(83.3333333333% - 0.3333333333rem);
          flex: 0 0 calc(83.3333333333% - 0.3333333333rem);
  max-width: calc(83.3333333333% - 0.3333333333rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(91.6666666667% - 0.1666666667rem);
          flex: 0 0 calc(91.6666666667% - 0.1666666667rem);
  max-width: calc(91.6666666667% - 0.1666666667rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 0rem);
          flex: 0 0 calc(100% - 0rem);
  max-width: calc(100% - 0rem);
  padding-left: 1rem;
  padding-right: 1rem;
}
@media (max-width: 768px) {
  .col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #F7F7F7;
  z-index: 9999;
}
.header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header > .container {
    padding: 1rem auto;
    height: 6rem;
  }
}
.header__logo {
  max-height: 2.5rem;
}
.header__button {
  display: none;
}
.header .nav {
  display: block;
}
@media (max-width: 768px) {
  .header .nav {
    position: fixed;
    inset: 0;
    background: #F7F7F7;
    top: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
.header .nav__toggle {
  display: none;
}
@media (max-width: 768px) {
  .header .nav__toggle {
    display: block;
    border: none;
    background: none;
    margin-top: 8px;
  }
}
@media (max-width: 768px) {
  .header .nav--show {
    -webkit-transform: translateX(0vw);
            transform: translateX(0vw);
  }
}
.header .nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
@media (max-width: 768px) {
  .header .nav__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
.header .nav__link {
  display: inline-block;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
  color: #3c3c3c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header .nav__link:hover {
  color: #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
}
@media (max-width: 768px) {
  .header .nav__link {
    display: block;
    text-decoration: none;
    color: #3c3c3c;
    font-size: 2rem;
    padding: 1rem;
  }
}
.header__button {
  display: none;
  width: 2rem;
  padding: 0;
}
.header__button .image {
  height: 100%;
}

.legal {
  background: #2A54FF;
  color: #F7F7F7;
  margin-top: 3rem;
}
.legal__icon {
  width: 2rem;
  height: 2rem;
}

.button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.4rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.button--primary {
  background-color: #2A54FF;
  border: 2px solid #2A54FF;
  color: #F7F7F7;
}
.button--primary:hover {
  background-color: #3C52C8;
  border-color: #3C52C8;
}
.button--secondary {
  background-color: #F7F7F7;
  border: 2px solid #2A54FF;
  color: #2A54FF;
}
.button--secondary:hover {
  background-color: #2A54FF;
  border-color: #3C52C8;
}
.button--text {
  color: #2A54FF;
  font-size: 1rem;
  font-weight: normal;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button--text::after {
  content: url("../../img/chevron-right.svg");
  height: 100%;
}

.portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 0.8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio-item__cover {
  height: 12rem;
  width: 100%;
  height: 300px;
  border-radius: 0.4rem;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #3c3c3c;
}

p {
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

small {
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 1rem;
  margin-top: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

hgroup p {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-bottom: 0;
}
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6 {
  margin-top: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  background-color: #F7F7F7;
}

main {
  padding-top: 6rem;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.menu {
  border: none;
  background: transparent;
}

.ul-reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 0.8rem;
}

.hero__image {
  border-radius: 2rem;
}
.hero__title {
  font-size: 3rem;
}
.hero__text {
  font-size: 1.4rem;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

.portfolio__header {
  text-align: center;
}
.portfolio__archive {
  padding-top: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}