// COLORES - neutrales
$neutral-900: #3c3c3c 
$neutral-800: #4A4A4A
$neutral-700: #5c5c5c
$neutral-600: #595959
$neutral-500: #777777
$neutral-400: #8C8C8C
$neutral-300: #A2A2A2
$neutral-200: #CCCCCC
$neutral-100: #E2E2E2
$neutral-50: #F7F7F7
$neutral-0: #fff

// COLORES - primarios
$accent-800: #475197
$accent-600: #3C52C8
$accent-500: #2A54FF
$accent-300: #84A2FF
$accent-200: #B5C8FF
$accent-100: #E8EEFF


//TOKENS
$color__principal: $accent-500
$color__fondo: $neutral-50

//TEXTO
$text-dark: $neutral-900
$text-light: $neutral-50
$text-accent: $color__principal 

//Botones
$button-default: $color__principal
$button-hover: $accent-600
$button-active: $accent-800

//MEDIDAS
$gap--xs: .4rem
$gap--s: .8rem
$gap--m: 1rem
$gap--l: 2rem
$gap--xl: 3rem
$header__height: 6rem


//LEGACY
$color__texto: $text-dark:
