@use "abstracts/variables"
@use "abstracts/mixins"

// Container
.container
  max-width: 1216px
  margin-left: auto
  margin-right: auto
  padding-left: 1rem
  padding-right: 1rem
  width: 100%

// Row
.row
  display: flex
  flex-wrap: wrap
  margin-left: -1rem
  margin-right: -1rem
  align-items: center
  &--reverse
    flex-direction: row-reverse

// Col base
.col
  box-sizing: border-box
  padding-left: 1rem
  padding-right: 1rem
  flex: 0 0 auto

// Cols 1-12
@for $i from 1 through 12
  .col-#{$i}
    width: (100% / 12) * $i

// Responsive cols
@each $breakpoint in (sm, md, lg)
  @for $i from 1 through 12
    .col-#{$breakpoint}-#{$i}
      +mixins.respond-to(#{$breakpoint})
        width: (100% / 12) * $i

// Full width por defecto en móvil
+mixins.respond-to(sm)
  .col
    width: 100%
