@use "abstracts/variables"

.button
    display: block
    width: fit-content
    box-sizing: border-box
    border-radius: variables.$gap--xs
    text-align: center
    text-decoration: none
    font-size: variables.$font-size__base
    font-weight: normal
    padding:
        top: variables.$gap--xs
        bottom: variables.$gap--xs
        left: variables.$gap--l
        right: variables.$gap--l
    transition: .3s
    &--primary
        background-color: variables.$button-default
        border: 2px solid variables.$color__principal
        color: variables.$text-light
        &:hover
            background-color: variables.$button-hover
            border-color: variables.$button-hover
            color: variables.$text-light
    &--secondary
        background-color: variables.$color__fondo
        border: 2px solid variables.$button-default
        color: variables.$button-default
        &:hover
            background-color: variables.$button-default
            border-color: variables.$button-hover
            color: variables.$text-light
    &--text
        color: variables.$button-default
        font-size: variables.$font-size__base
        font-weight: normal
        padding: 0
        display: flex
        &::after
            content: url('../../img/chevron-right.svg')
            height: 100%
           


  

  
 
  