@use "abstracts/variables"

.portfolio-item
    overflow: hidden
    transition: .4s
    display: flex
    flex-direction: column
    justify-content: space-between
    padding-bottom: variables.$gap--s
    &__cover
        height: 12rem
        width: 100%
        height: 300px
        border-radius: variables.$gap--xs
 
       
    

