@use "abstracts/variables"

.portfolio-item
    display: flex
    flex-direction: column
    padding-bottom: variables.$gap--s
    justify-content: space-between

    &__cover
        height: 12rem
        width: 100%
        height: 300px
        border-radius: variables.$gap--xs

       
    

