@use "abstracts/variables"


//HERO
.hero
  &__image
    border-radius: variables.$gap--l 
  &__title
    font-size: variables.$gap--xl
  &__text
    font-size: 1.4rem

.portfolio
  &__header
    text-align: center